# Entorno virtual
venv/
.env/
qatest-env

# Archivos de Python
*.pyc
*.pyo
__pycache__/

# Archivos de configuración del editor
.idea/
.vscode/

# Archivos de distribución
*.egg
*.egg-info/
dist/
build/

# Otros archivos generados
.DS_Store  # macOS
Thumbs.db  # Windows
